AIRFLOW_UID=1000
AIRFLOW_GID=0

# airflow user credentials
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=senhaairflow

# airflow connections defined as environment variables
AIRFLOW_CONN_DB_SALES='postgresql://user:password@localhost:5432/example'

# The API URL is used to fetch employee data and is set as an environment variable.
EMPLOYEES_API_URL='https://www.example.com/api/employees'
